<%= render 'pregunta_header' %>

<h3 class="text-center">11. ¿Qué deseas para el próximo año?</h3>

<br>

<div class="container">
  <%= form_for @cuestionario, url: wizard_path, method: :put do |f| %>
      <%= f.hidden_field :paso, value: 11 %>
      <%= f.fields_for :respuestas, @cuestionario.get_respuestas(11) do |respuesta_fields| %>
          <%= respuesta_fields.hidden_field :pregunta, value: 11 %>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-4">
                  <label>
                    <%= respuesta_fields.radio_button :opcion, 1 %>
                    A. Amigos / buenos ratos.
                  </label>
                </div>
                <div class="col-md-4">
                  <label>
                    <%= respuesta_fields.radio_button :opcion, 2 %>
                    B. Credibilidad / confianza.
                  </label>
                </div>
                <div class="col-md-4">
                  <label>
                    <%= respuesta_fields.radio_button :opcion, 3 %>
                    C. Status / prestigio.
                  </label>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <label for="">
                    <%= respuesta_fields.radio_button :opcion, 4 %>
                    D. Tranquilidad / relaciones.
                  </label>
                </div>
                <div class="col-md-4">
                  <label for="">
                    <%= respuesta_fields.radio_button :opcion, 5 %>
                    E. Mujeres / emociones.
                  </label>
                </div>
                <div class="col-md-4">
                  <label for="">
                    <%= respuesta_fields.radio_button :opcion, 6 %>
                    F. Expresión de la individualidad.
                  </label>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <label for="">
                    <%= respuesta_fields.radio_button :opcion, 7 %>
                    G. Poder y autoridad.
                  </label>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Anterior', previous_wizard_path, class: 'btn btn-primary' %>
          <%= f.submit 'Siguiente', class: 'btn btn-primary pull-right' %>
        </div>
      </div>
      <br>
  <% end %>
</div>