<%= render 'pregunta_header' %>

<h3 class="text-center">3. Me considero una persona:</h3>

<br>

<div class="container">
  <%= form_for @cuestionario, url: wizard_path, method: :put do |f| %>
      <%= f.hidden_field :paso, value: 3 %>
      <%= f.fields_for :respuestas, @cuestionario.get_respuestas(3) do |respuesta_fields| %>
          <%= respuesta_fields.hidden_field :pregunta, value: 3 %>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-4">
                  <label>
                    <%= respuesta_fields.radio_button :opcion, 1 %>
                    A. Amigable, accesible
                  </label>
                </div>
                <div class="col-md-4">
                  <label>
                    <%= respuesta_fields.radio_button :opcion, 2 %>
                    B. Confiable, capaz
                  </label>
                </div>
                <div class="col-md-4">
                  <label>
                    <%= respuesta_fields.radio_button :opcion, 3 %>
                    C. Exitoso, refinado
                  </label>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <label for="">
                    <%= respuesta_fields.radio_button :opcion, 4 %>
                    D. Gentil, amable
                  </label>
                </div>
                <div class="col-md-4">
                  <label for="">
                    <%= respuesta_fields.radio_button :opcion, 5 %>
                    E. Llamativo, sin inhibiciones
                  </label>
                </div>
                <div class="col-md-4">
                  <label for="">
                    <%= respuesta_fields.radio_button :opcion, 6 %>
                    F. Diferente, único
                  </label>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <label for="">
                    <%= respuesta_fields.radio_button :opcion, 7 %>
                    G. Exagerado, moderno
                  </label>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Anterior', previous_wizard_path, class: 'btn btn-primary' %>
          <%= f.submit 'Siguiente', class: 'btn btn-primary pull-right' %>
        </div>
      </div>
      <br>
  <% end %>
</div>