<%= render 'pregunta_header' %>

<h3 class="text-center">7. ¿Cuál es tu corbata favorita?</h3>

<br>

<div class="container">
  <%= form_for @cuestionario, url: wizard_path, method: :put do |f| %>
      <%= f.hidden_field :paso, value: 7 %>
      <%= f.fields_for :respuestas, @cuestionario.get_respuestas(7) do |respuesta_fields| %>
          <%= respuesta_fields.hidden_field :pregunta, value: 7 %>
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <div class="row">
                <div class="col-md-4">
                  <label>
                    <%= respuesta_fields.radio_button :opcion, 1 %>
                    A. Tejida de lana
                  </label>
                </div>
                <div class="col-md-4">
                  <label>
                    <%= respuesta_fields.radio_button :opcion, 2 %>
                    B. Rayada
                  </label>
                </div>
                <div class="col-md-4">
                  <label>
                    <%= respuesta_fields.radio_button :opcion, 3 %>
                    C. De seda, de marca
                  </label>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <label for="">
                    <%= respuesta_fields.radio_button :opcion, 4 %>
                    D. Tonos suaves, estampadas
                  </label>
                </div>
                <div class="col-md-4">
                  <label for="">
                    <%= respuesta_fields.radio_button :opcion, 5 %>
                    E. Sin corbata, camisa con cuello abierto
                  </label>
                </div>
                <div class="col-md-4">
                  <label for="">
                    <%= respuesta_fields.radio_button :opcion, 6 %>
                    F. Novedosa, diferente
                  </label>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-4">
                  <label for="">
                    <%= respuesta_fields.radio_button :opcion, 7 %>
                    G. Colores vivos patrones fuertes
                  </label>
                </div>
              </div>
            </div>
          </div>
      <% end %>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Anterior', previous_wizard_path, class: 'btn btn-primary' %>
          <%= f.submit 'Siguiente', class: 'btn btn-primary pull-right' %>
        </div>
      </div>
      <br>
  <% end %>
</div>